@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

#root{
  padding: 0;
  max-width: 100%;
  font-family: "Rubik Mono One", monospace;
}

body {
  margin: 0;
}

/*-------------------------------*/
.banner-portada {
  width: 100%; 
  background-repeat: no-repeat;
  height: 71.5vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

/*REUTILIZABLES*/
.font-body{
  font-family: "Rubik Mono One", monospace;
}

.banner-title{
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 5px dotted #153a4b;
}
